<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">
    <title>Accommodation Details</title>
    <link rel="icon" href="https://i.postimg.cc/zGBDRhXy/2024-02-25-113236.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha384-...." crossorigin="anonymous">
</head>
<body>
<div class="detail-container">
    <div class="left-section">
        <!--        <img th:src="${accommodation.path[0]}" class="main-photo">-->
        <!--        <img class="card-img" th:src="@{${accommodation.path[0]}}">-->
        <img class="card-img"
             th:src="@{'/images/' + ${accommodation.mainPhoto.substring(accommodation.mainPhoto.lastIndexOf('/') + 1)}}">
    </div>
    <div class="right-section">
        <h1>Name: <span th:text="${accommodation.name}">Accommodation Name</span></h1>
        <p>Description: <span th:text="${accommodation.description}">Description</span></p>
        <p>Category: <span th:text="${accommodation.category.name}">Category Name</span></p>
        <p>Start Time: <span th:text="${accommodation.startTime}">Start Time</span></p>
        <p>End Time: <span th:text="${accommodation.endTime}">End Time</span></p>
        <p>Location: <span th:text="${accommodation.location}">Location</span></p>
        <p>Price: <span th:text="${accommodation.price}">Price</span></p>
        <p>City: <span th:text="${accommodation.city.name}">City Name</span></p>
        <p>User: <span th:text="${accommodation.user.fullName}">User Name</span></p>
        <p>Status: <span th:text="${accommodation.status}">Status</span></p>
    </div>
    <div class="bottom-right-section">
        <h3>Other Photos</h3>
        <div class="other-photos">
            <th:block th:each="photo : ${accommodation.otherPhoto}">
                <img th:src="@{'/images/' + ${photo.substring(photo.lastIndexOf('/') + 1)}}" class="other-photo">
            </th:block>
        </div>
    </div>
</div>

</body>
</html>